#include "roBa.dtsi"
#include <input/processors/xyz.dtsi>
#include <behaviors/input_processor_sigmoid_accel.dtsi>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zephyr,console = &snippet_studio_rpc_usb_uart;
        zephyr,shell-uart = &snippet_studio_rpc_usb_uart;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

&kscan0 {
    status = "disabled";
};

&roba_physical_layout {
    kscan = <&mock_kscan>;
};

&trackball_split {
    status = "okay";
};

&trackball_listener {
    status = "okay";
    input-processors = <&sigmoid_accel>;
};
&sigmoid_accel {
      min-scale = <50>;   // 1.0x slow
      max-scale = <200>;   // 4.0x fast
      threshold = <35>;    // kick in earlier
      steepness = <20>;    // sharper transition
};
