/* Alias xiao_d to pro_micro so roBa.dtsi resolves on nice_nano_v2.
 * All nodes that reference xiao_d (kscan0, encoders) are disabled below. */
xiao_d: &pro_micro {};

#include "roBa.dtsi"
#include <input/processors/xyz.dtsi>
#include <behaviors/input_processor_sigmoid_accel.dtsi>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

&kscan0 {
    status = "disabled";
};

&roba_physical_layout {
    kscan = <&mock_kscan>;
};

&trackball_split {
    status = "okay";
    input-processors = <&zip_zxy>;
};

&trackball_listener {
    status = "okay";
};
