build
modules
nrf
nrfxlib
zephyr
!config/zephyr/
!config/zephyr/module.yml
zmk
zmk-dongle-display
zmk-feature-split-esb
zmk-input-processor-accel
zmk-input-processor-report-rate-limit
zmk-input-processor-xyz
zmk-pmw3610-driver
.west
firmware
build_roba_kesb/roBakesb_dongle
build_roba_kesb/roBakesb_left
build_roba_kesb/roBakesb_right
build_roba_kesb/roBakesb_dongle_mdk
*.log
build_roba_kesb/roBakesb_lariska
build_charybdis/
build_corne/
zmk-paw3395-driver
zmk-vfx-rgbled-indicator
zmk-behavior-stepped-scroll
zmk-behavior-button-direct
zmk-trackball-gestures-module
zmk-feature-sensor_rotation
