config SHIELD_ROBAKESB
    def_bool $(shields_list_contains,roBakesb)

config SHIELD_ROBAKESB_LEFT
    def_bool $(shields_list_contains,roBakesb_left)

config SHIELD_ROBAKESB_RIGHT
    def_bool $(shields_list_contains,roBakesb_right)

config SHIELD_ROBAKESB_RIGHT_CENTRAL
    def_bool $(shields_list_contains,roBakesb_right_central)
