#include "../roBa/roBa.dtsi"
#include "../roBa/roBa_R_trackball.dtsi"
#include "../roBaesb/roBaesb_addr.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        , <&xiao_d 7 GPIO_ACTIVE_HIGH>
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        ;
};

&trackball_listener {
    status = "disabled";
    device = <&trackball>;
};

&sigmoid_accel {
    cpi = <2600>;
};

&trackball {
    status = "disabled";
    spi-max-frequency = <2000000>;
    y-invert;
    force-awake;
    usb-rate-ms = <2>;
    ble-rate-ms = <8>;
};
