if SHIELD_CORNE_ESB

config ZMK_KEYBOARD_NAME
    default "Corne ESB"

config ZMK_SPLIT
    default y

endif # SHIELD_CORNE_ESB

if SHIELD_CORNE_ESB_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne ESB L"

config ZMK_SPLIT
    default y

endif # SHIELD_CORNE_ESB_LEFT

if SHIELD_CORNE_ESB_RIGHT

config ZMK_KEYBOARD_NAME
    default "Corne ESB R"

config ZMK_SPLIT
    default y

endif # SHIELD_CORNE_ESB_RIGHT

if SHIELD_CORNE_ESB_RIGHT_CIRQUE

config ZMK_KEYBOARD_NAME
    default "Corne ESB RC"

config ZMK_SPLIT
    default y

endif # SHIELD_CORNE_ESB_RIGHT_CIRQUE

if SHIELD_CORNE_ESB_LARISKA

config ZMK_KEYBOARD_NAME
    default "Corne ESB Lariska"

config ZMK_SPLIT
    default y

endif # SHIELD_CORNE_ESB_LARISKA
